<% include partials/header %>

<h1>You fell in love with: <%= thingVar %></h1>

<% if(thingVar === "rusty"){ %>         
    <p> GOOD CHOICE! </p>
<% } else {%>
    <p> You should choose rusty</p>
<% } %>

    <p> P. S. this is love.ejs</p>
 
<% include partials/footer %>



